{% extends 'catalog/base.html' %}
{% block appointment %}
<div class="container bg-primary">
    <div class="row">
        <div class="col-sm-4 py-5 mx-auto">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text fs-4 text-center">Действительно удалить запись?</p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <p class="text-center">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </p>
                    <p class="text-center">
                        <a class="btn btn-dark" href="{% url 'users:appointment_list'%}" role="button">Отменить</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}