<!doctype html>
{% load static %}
<html lang="en">
<head>
    {% include 'catalog/includes/inc_menu.html' %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    {% block content_login %}
    {% endblock %}
</div>
<div class="container">
    <div class="bg-body-tertiary p-5 rounded">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="container my-5">
    {% block appointment %}
    {% endblock %}
</div>
{% include 'catalog/includes/info_menu.html' %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
