{% extends 'catalog/main_page.html' %}
{% load my_tags %}
{% block description %}
	  <div class="container my-5">
    <div class="bg-body-tertiary p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal text-center">{{ main_description.first.description_title }}</h1>
        <p class="fs-5 text-center">
            {{ main_description.first.description }}
        </p>
    </div>
        <div class="text-center">
                  {% if perms.catalog.can_edit_description_title and perms.description.can_edit_description or user.is_superuser %}
                  <a class="btn btn-primary" href="{% url 'catalog:description_update' main_description.first.pk %}" role="button">Редактировать описание</a>
                    {% endif %}
        </div>
    </div>
  </div>
{% endblock %}