{% extends 'catalog/base.html' %}
{% block content %}
<div class="container bg-primary">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-sm-6 py-5 mx-auto">
            <div class="card">
                {% if object %}
                <p class="card-text fs-3 text-center">Редактирование услуги</p>
                {% else %}
                <p class="card-text fs-3 text-center">Создание услуги</p>
                {% endif %}
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <p class="text-center">
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </p>
            </div>
        </div>
        <div class="col-6 py-5 mx-auto">
            <div class="card">
                <p class="card-text fs-3 text-center">Кнопка для каталога</p>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% endfor %}
                </div>
                                <p class="text-center">
                    <button type="submit" class="btn btn-success">
                        Создать
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>
{% endblock %}